@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vidly</h1>
    <p class="lead">
        This is a web app for testing ASP.NET MVC style Application.
    </p>
    <p>
        <a href="https://asp.net" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Just choose yourself a movie to rent :)
        </p>
        <p><a class="btn btn-default" href="">This btn does nothing &raquo;</a></p>
    </div>
</div>